node_modules
dist
.tmp
.sass-cache
app/bower_components

# Created by http://www.gitignore.io

### SASS ###
### Sass Ignores - "Sassy CSS" http://sass-lang.com/
*.sass-cache


### SublimeText ###
# workspace files are user-specific
*.sublime-workspace

# project files should be checked into the repository, unless a significant
# proportion of contributors will probably not be using SublimeText
# *.sublime-project


### Node ###
lib-cov
lcov.info
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results
build
.grunt

node_modules


### Yeoman ###
node_modules/
bower_components/
*.log

build/
dist/


### Bower ###
bower_components