<div class="row">
  <div class="small-12">
    <header>
      <h1>Data Structures in Javascript</h1>
      <p>An exercise on data structures and algorithms in Javascript, AngularJS and testing.</p>
    </header>
  </div>
</div>
<div class="row">
  <div class="small-12">
    <div class="panel callout">
      <pre>{{linkedList | json}}</pre>
    </div>
    <!-- <div class="panel">
      <pre>{{linkedList.toArray() | json}}</pre>
    </div> -->
    <input type="text" ng-model="node.data">
    <button ng-click="linkedList.add(node.data)">Add</button>
    <button ng-click="linkedList.remove(node.data)">Remove</button>
    <button ng-click="linkedList.removeLast()">Remove Last</button>
  </div>
</div>
