<div class="row">
  <div class="small-12">
    <header>
      <h1>Data Structures in Javascript</h1>
      <p>An exercise on data structures and algorithms in Javascript, AngularJS and testing.</p>
    </header>
  </div>
</div>
<div class="row">
  <div class="small-12">
  <div class="linked-list">
    <h2>Linked List</h2>
    <ul class="linked-list__graphic-representation">
      <p ng-hide="linkedList.toArray().length > 0">Start playing with the list below!</p>
      <li class="linked-list__node" ng-repeat="(key, value) in linkedList.toArray()">
        <div class="linked-list__node__index">{{printIndex(key)}}</div>
        {{value.data}}
        <div class="linked-list__node__next">Next: {{value.next.data || 'null'}}</div>
      </li>
    </ul>
    <!-- <div class="panel">
      <pre>{{linkedList.toArray() | json}}</pre>
    </div> -->
    <input type="text" ng-model="node.data" placeholder="red, blue, green or something like that…" focus-me="focusLinkedList">
    <menu role="toolbar">
      <button ng-click="linkedList.add(node.data); focusLinkedList = true;">Add</button>
      <button ng-click="linkedList.remove(node.data)">Remove <small ng-if="node.data">({{node.data}})</small></button>
      <button ng-click="linkedList.removeLast()">Remove Last</button>
      <button ng-click="linkedList.clear()">Clear</button>
    </menu>
  </div>
  </div>
</div>
